/lesson-1/Messenger/.idea/
/lesson-1/Messenger/__pycache__/
/lesson-1/Messenger/venv/Lib/site-packages/PyQt5/
/lesson-1/Messenger/venv/Lib/site-packages/PyQt5-5.11.2.dist-info/
/lesson-1/Messenger/venv/Lib/site-packages/PyQt5_sip-4.19.12.dist-info/
/pocketmsg-server/.idea/
/pocketmsg-server/__pycache__/
/pocketmsg-server/server_my.py
/pocketmsg-server/salt.py
/pocketmsg-server/log/
/pocketmsg-server/database_tools/db_config.py

/pocketmsg-server/client.py
/pocketmsg-server/add_user.py
